body{
}

.text{
}

.text--h1{ 
	font-family: 'Bree Serif', serif;
	font-size: 50px;
	margin: 80px 0 50px 50px;
}

.text--h2{
	font-family: 'Bree Serif', serif;
	font-size: 25px;
	margin-bottom: 30px;
}

.text--p{
	margin-right: 50px;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	line-height: 140%;

}

.img {
  float: left;
  margin: 10px 45px 120px 50px;
  width: 30%; 
}

.media{
	list-style: none;
	float: right;
	margin: -50px 50px 0 0;
}

.media__el{
	float: left;
	margin: 5px;
}

.link {
	float: right;
	font-size: 12px;
	color: #2D2825;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
	border: 1px solid #2D2825;
	padding: 15px;
	border-radius: 5px;
	margin: 10px 50px 10px 10px;
}

.gif{
	width: 20%;
	float: right;
	margin: 0 50px 30px 30px;
}